@charset "UTF-8";
.yellow-underline {
  padding: 1em 0;
}
.yellow-underline span {
  display: block;
  width: 35%;
  height: 5px;
  background-color: #ff8001;
}

#home #section-1 {
  background-image: url(../img/banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#home #section-1 .list {
  list-style: none;
  padding: 0;
}

#home #section-2 .list li::before {
  content: "•";
  color: #ff8001;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#home #footer {
  background-color: #1b1b1b;
}
#home #footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#home #footer ul li {
  display: inline;
  margin-left: 10px;
}
#home #footer ul li a {
  text-decoration: none;
  color: white;
}

.navbar-custom {
  background-color: #1a1030;
}
.navbar-custom .nav-item .nav-link {
  color: white;
}
.navbar-custom .nav-item .nav-link.active {
  color: #ff8001;
}

#sidebar .nav-item.active {
  border-left: 4px solid #ff8001;
  background-color: #F6FAFE;
}

#footer {
  background-color: #1b1b1b;
}
#footer .footer-contacts {
  padding: 1em;
  color: #fff;
}
#footer .footer-contacts .phone {
  background: url(../img/phone_ico.png) 0 -1px no-repeat;
  padding-left: 26px;
  margin-right: 50px;
}
#footer .footer-contacts .email {
  background: url(../img/email_ico.png) 0 -1px no-repeat;
  padding-left: 26px;
}

@media (min-width: 576px) {
  #content .h-sm-100 {
    height: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
